@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red;  for development purposes only */
}

:root {
    --bg-primary: #faf4f2;
    --bg-secondary: #ffffff;
    --bg-tertiary: #f3e8e4;
    --font-color-highlight: #ED6435;
    --font-family-secondary: 'PT Sans', sans-serif;
    --font-family-primary: 'Baloo 2', cursive;

    

    scroll-behavior: smooth;
    background-color: var(--bg-primary);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--font-color-highlight);
}

a:hover {
  text-decoration: underline;
}
