.hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* 800px * 1.2 */
    overflow: hidden; /* Ховає частину, що виходить за межі */
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/bg-partial/cover.png") no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.hero-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0;
}

.hero-content {
    padding-left: 25px;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    font-family: var(--font-family-primary);
    color: #3C3731;
    max-width: 100%;
    line-height: 1;
}

.hero-subtitle {
    font-size: 19px;
    font-weight: 400;
    font-family: var(--font-family-secondary);
    color: #958B7E;
    max-width: 100%;
    margin-top: 38px;
    font-weight: 400;
}

.hero-buttons {
    font-family: var(--font-family-secondary);
    font-size: 16.5px;
    width: 337px;
    display: flex;
    padding-top: 50px;
    padding-left: 25px;
    gap: 6px;
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    height: 51.8px;
}

.hero-button-primary {
    width: 126.41px;
    background-color: #ffe6d4;
}

.hero-button-primary:hover {
    color: #45c1c6;
    text-decoration: none;
    background-color: #b2e7e9;
    transition: 0.3s;
    cursor: pointer;
}

.hero-button-secondary {
    width: 170.73px;
    margin-left: 13px;
    border: 1px solid #45c1c6;
    color: #45c1c6; 
    position: relative; 
    top: -3px;
}

.svg_test {
    width: 24px;
    height: 21.5px;
    margin-left: 9px;
    top: 1px;
    position: relative;
}

.hero-button-secondary:hover {
    color: white;
    text-decoration: none;
    background-color: #45c1c6;;
    transition: 0.3s;
    cursor: pointer;
}

@media (min-width: 768px) {
    .hero-section {
        height: 1000px; /* 921px * 1.2 */
    }

    .hero-wrapper {
        max-width: 1250px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .hero-content {
        width: 45vw;
    }

    .hero-title {
        font-size: 82px;
        max-width: 557px;
    }

    .hero-subtitle {
        font-size: 19px;
        max-width: 496px;
        margin-top: 45px;
    }
}

.hero-section_is-active {

    .hero-bg {
        display: none;
    }

    .hero-wrapper {
        display: none;
    }
}