.hero-bg {
    position: absolute;
    width: 105%;
    background: url("../img/cover.png") no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.hero-wrapper {
    width: 100%;
    height: 921px;
}