/* === PETS CAROUSEL — точно як на твоєму макеті === */
.pets-carousel-container {
  text-align: center;
  padding: 50px 24px;
  background: #fff;
}

.pets-carousel-title {
  font-size: 30px;
  font-weight: 700;
  color: #3C3741;
  margin: 0 0 20px 0;
  letter-spacing: -0.5px;
  font-family: var(--font-family-primary);
}

.pets-carousel-container > img {
  width: 80px;
  height: auto;
  margin: 20px auto;
  display: block;
  opacity: 0.7;
}

.pets-carousel-subtitle {
  font-size: 19px;
  color: #958B7E;
  margin: 0 0 50px 0;
  font-weight: 400;
  font-family: var(--font-family-secondary);
}

/* Головний контейнер каруселі */
.pets-carousel {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
  align-items: center;
}

.pets-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.pets-title {
  font-family: var(--font-family-primary);
  font-size: 22px;
  color: #3C3741;
  margin: 20px 0 0 0;
  font-weight: 700;
}

.pets_highlight {
  color: var(--color-secondary-highlight);
  margin-left: 4px;
}

.pets-description {
  font-family: var(--font-family-secondary);
  font-size: 15px;
  color: #666;
  line-height: 1.6;
  margin: 20px 0 0 0;
}

.pets-carousel-item {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 33px 20px;
  border: 2px solid #ffe6d4;
  margin: 0 7px;
  min-height: 287px;
  width: 100%;
}

.pets-carousel-track {
  display: flex;
  width: 100%;
}

.pets-carousel-button {
  position: absolute;
  background: #585550;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.button--next {
  right: -3px;
}

.button--prev {
  left: -3px;
  transform: scaleX(-1);
}

.arrow-svg_1j4 {
  width: 12px;
  height: 12px;
  fill: #dedddc;
}

@media (min-width: 450px) {
  .pets-carousel-item {
    min-height: 247px;
  }
}

@media (min-width: 767px) {
  .pets-carousel-item {
    margin: 0 15px;
    min-height: 339px;
  }

  .pets-title {
    font-size: 23px;
  }

  .pets-image {
    width: 120px;
    height: 120px;
  }

  .pets-carousel-button {
    width: 32px;
    height: 32px;
  }

  .arrow-svg_1j4 {
  width: 20px;
  height: 20px;
}

  .button--next {
  right: 0px;
}

.button--prev {
  left: 0px;
}
}

@media (min-width: 1200px) {
  .pets-carousel-button {
    background: transparent;
    box-shadow: none;
  }

  .arrow-svg_1j4 {
  width: 30px;
  height: 30px;
  fill: #7b7774;
}
 
.button--next {
  right: -15px;
}

.button--prev {
  left: -15px;
}
}